{
  "version": 2,
  "env": {
    "PRISMIC_URL": "",
    "MAIL_TOKEN": "",
    "MAIL_TO": ""
  },
  "builds": [
    {
      "src": "package.json",
      "use": "@now/next"
    }
  ],
  "routes": [
    {
      "src": "/_next/static/(?:[^/]+/pages|chunks|runtime)/.+",
      "headers": {
        "cache-control": "immutable"
      }
    },
    {
      "src": "/(?<lang>[a-z]{2})$",
      "status": 301,
      "headers": {
        "Location": "/?lang=$lang",
        "Cache-control": "s-maxage=1, stale-while-revalidate",
        "Accept-Encoding": "br"
      }
    },
    {
      "src": "/(?<lang>[a-z]{2})/brand",
      "status": 301,
      "headers": {
        "Location": "/brand?lang=$lang",
        "Cache-control": "s-maxage=1, stale-while-revalidate",
        "Accept-Encoding": "br"
      }
    },
    {
      "src": "/(?<lang>[a-z]{2})/product",
      "status": 301,
      "headers": {
        "Location": "/product?lang=$lang",
        "Cache-control": "s-maxage=1, stale-while-revalidate",
        "Accept-Encoding": "br"
      }
    }
  ]
}