{
  "version": 2,
  "env": {
    "PRISMIC_URL": "https://ilicycleswebsite.cdn.prismic.io/api/v2",
    "MAIL_TOKEN": "",
    "MAIL_TO": ""
  },
  "builds": [{
    "src": "package.json",
    "use": "@now/next"
  }],
  "routes": [{
      "src": "/_next/static/(?:[^/]+/pages|chunks|runtime)/.+",
      "headers": {
        "cache-control": "immutable"
      }
    },
    {
      "src": "/",
      "dest": "/?lang=fr",
      "headers": {
        "Cache-control": "max-age=31557600",
        "Accept-Encoding": "br"
      }
    },
    {
      "src": "/(?<lang>[a-z]{2})$",
      "status": 301,
      "headers": {
        "Location": "/?lang=$lang",
        "Cache-control": "max-age=31557600",
        "Accept-Encoding": "br"
      }
    },
    {
      "src": "/(?<lang>[a-z]{2})/brand",
      "status": 301,
      "headers": {
        "Location": "/brand?lang=$lang",
        "Cache-control": "max-age=31557600",
        "Accept-Encoding": "br"
      }
    },
    {
      "src": "/(?<lang>[a-z]{2})/product",
      "status": 301,
      "headers": {
        "Location": "/product?lang=$lang",
        "Cache-control": "max-age=31557600",
        "Accept-Encoding": "br"
      }
    },
    {
      "src": "/(?<lang>[a-z]{2})/legal",
      "status": 301,
      "headers": {
        "Location": "/legal?lang=$lang",
        "Cache-control": "max-age=31557600",
        "Accept-Encoding": "br"
      }
    }
  ]
}