/*
  Normalize
*/
@import-normalize;

/*
  Custom selectors
*/
@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--link a, a:visited, a:active, a:link;
@custom-selector :--select-input select, option;
@custom-selector :--inputs input, select, textarea;

/*
  Base styles
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  @apply .text-px;
  scroll-behavior: smooth-scroll;
}

body {
  @apply .flex;
  @apply .flex-col;
  @apply .min-h-screen;
  @apply .m-0;
  @apply .leading-21;
  font-size: 1rem;
  @media (min-width: 991px) {
    @apply .text-12;
    @apply .leading-20;
  }
}

#__next {
  @apply .flex;
  @apply .flex-col;
  @apply .flex-grow;
}

/* Reset */

html,
body {
  @apply .overflow-x-hidden;
  @apply .font-text;
}

body {
  @apply .text-grey-200;
  @apply .tracking-042;
  @apply .overflow-y-hidden;
  @media (--screen-md) {
    @apply .tracking-039;
  }
}

:--heading,
button {
  @apply .font-emphasis;
}

:--heading,
figure,
figcaption,
p {
  @apply .p-0;
  @apply .m-0;
}

:--link,
button {
  @apply .cursor-pointer;
}

.tw-button {
  @apply .no-underline;
}

a:any-link:not(.tw-button, .tw-unstyled-link) {
  @apply .text-blue-100;
  @apply .relative;
  @apply .overflow-hidden;
  @apply .no-underline;
  @apply .inline-flex;
  &::after {
    @apply .absolute;
    @apply .block;
    @apply .w-full;
    @apply .h-1;
    @apply .bg-transparent;
    @apply .bottom-0;
    @apply .left-0;
    content: " ";
    transform: translateX(0);
    transition: transform 250ms ease-in-out;
  }
  &:hover::after,
  &:focus::after {
    transform: translateX(-100%);
  }
}

a:any-link:not(.tw-button, .tw-unstyled-link):hover::after,
a:any-link:not(.tw-button, .tw-unstyled-link):focus::after {
  @media (min-width: 991px) {
      @apply .bg-blue-100;
    }
}


/* Titles */

h1 {
  @apply .text-25;
  @apply .tracking-052;
  @apply .leading-30;
}

h2 {
  @apply .text-15;
  @apply .tracking-039;
  @media (min-width: 991px) {
    @apply .text-20;
    @apply .tracking-052;
    @apply .leading-24;
  }
}

h3 {
  @apply .text-base;
  @apply .tracking-034;
  @media (min-width: 991px) {
    @apply .text-15;
    @apply .tracking-039;
    @apply .leading-18;
  }
}

h1, h2, h3 {
  @apply .font-600;
}